$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

html,
body {
	background:#111;
	padding:0;
	margin:0;
	height:100%;
}

.panels {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	display: flex;
	flex-wrap: nowrap;
}

	.panel {
	}

		.panels-left {

			flex: 1 1 100px;
		}	

			.panel-mic {
				text-align: center;
				padding: 3vh 3vw 3vh 3vw;
			}

				.panel-mic-icon {
					color: color;
					font-size: 20vh;
				}

				.panel-mic-icon-disconnected {
					color:yellow;
				}

				.panel-mic-icon-off {
					color:#960038;
				}

				.panel-mic-icon-on {
					color:#4c9d49;
				}


			.panel-weather {
				margin-top:5vh;
			}
	
				.panel-weather-temp {
					color:#EEE;
					font-size:4em;
					line-height:.9em;
					margin:0;
					text-align:center;
					font-family:arial;
				}
				.panel-weather-temprange {
					color:#CCC;
					margin:0;
					text-align:center;
					font-family:arial;
				}
				.panel-weather-description {
					color:#888;
					margin:5px 0 0 0;
					text-align:center;
					font-family:arial;
					text-transform: uppercase;
				}		
				.panel-weather-pic {
					text-align:center;
					margin-top:10px;
					img { 
						width:90%;
					}
				}	

		.panel-camera {
			flex: 10 1 200px;
			flex-wrap: wrap;
			position:relative;
			height:100%;	
		}

			.panel-camera-singleitem {
				width: 98%;
				height:98%;
				object-fit:contain;
			}

			.panel-camera-multi {
			
			}

				.panel-camera-item {
					width:50%;
					height:50%;
					box-sizing: border-box;
					display:inline-block;
					background:#333;
					border:solid 1px #666;
					text-align:center;
					img {
						height:98%;
						object-fit:contain;
					}

					&.panel-camera-item-selected {
						width:100%;
						height:100%;
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
					}
				}

	.statistic {
		text-align: center;
		margin-bottom: .7em;
	}

		.statistic-label {
			font-size: 13px;
			font-family: arial;
			text-transform:  uppercase;
			color: #FFF;
		}

		.statistic-text {
			font-size: 2.5em;
			font-family: arial;
			color: #FFF;
			line-height: 1em;
		}